body {
  font: 10px sans-serif;
}

.x.axis {
	font: 14px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#canvas {
  position: relative;
}